<h2 style='margin-left:300px;margin-top:40px;'>前缀匹配搜索:</h2>
<form class="well form-inline">
    <input style='height:25px;line-height:25px;width:220px;margin-left:0px;' type="text" id="queryInput"> 
    <span id='dataCount'></span>
    <div id="data" style='margin-left:200px;margin-top:20px;'></div>
</form>

<%-partial('tip', {message: '* show result id'}) %>